.about_main {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  padding: 3rem 3rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(0.6px);
  margin-top: -5rem;
  margin-bottom: 6rem;
}

.icon {
  width: 35px;
  height: 35px;
}
.icons_icon {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.about_text {
  text-align: center;
  font-style: normal;
  /* font-family: "Open Sans", helvetica, arial, sans-serif; */
  color: rgb(255, 255, 255);
  font-size: 1rem;
  line-height: 1.5rem;
}
.git_img {
  border-radius: 50%;
  margin: 1rem 0rem;
  width: 80px;
  height: 80px;
}
.img_glowing {
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: glowing 2s ease-in-out infinite alternate;
  -moz-animation: glowing 2s ease-in-out infinite alternate;
  animation: glowing 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glowing {
  from {
    box-shadow: 0 0 10px #262525, 0 0 20px #2a2020, 0 0 30px rgb(80, 50, 80);
  }
  to {
    box-shadow: 0 0 40px #ef476f, 0 0 50px #f85279, 0 0 60px #fc6b8d;
  }
}

.icons {
  display: flex;
}
.icons div {
  margin: 1rem 10px;
  list-style: none;
  list-style: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  /* background: rgb(27, 117, 135); */
  border: 1px solid #ef476f;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  cursor: pointer;
}
.li_item {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 912px) {
  .about_main {
    margin-top: 5rem;
  }
}
