* {
  font-family: auto;
}


.space {
  width: 100%;
}


.main-left::after {
  content: "";
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background: #333;
}
.main-left:hover::after {
  width: 100%;
}
.home {
  position: relative;
}

.logo {
  position: relative;
}
.main_right img {
  z-index: 2;
  width: auto;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

/* .circle_inner {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background: linear-gradient(
    262deg,
    rgba(216, 151, 194, 1) 0%,
    rgba(116, 184, 195, 1) 100%
  );
  position: absolute;
  -webkit-text-stroke:  linear-gradient(262deg, rgba(216, 151, 194, 1) 0%, rgba(116, 184, 195, 1) 100%);;
} */

.club_text {
  background: linear-gradient(
    151deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 188, 137, 1) 50%,
    rgba(149, 140, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.circle_shadow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
.shadow_common {
  opacity: 61%;
  filter: blur(30px);
}
.left_shadow {
  display: flex;
  width: 14rem;
  height: 14rem;
  border-radius: 50% 50% 50% 0%;
  background: #2c3a43;
  justify-content: flex-end;
}
.right_shadow {
  width: 12rem;
  height: 12rem;
  border-radius: 50% 0% 0% 0%;
  background: #2c3a43;
}
.top_shadow {
  opacity: 53%;
  filter: blur(30px);
  position: absolute;
  width: 12rem;
  height: 12rem;
  border-radius: 50% 0% 50% 50%;
  background: #2e3547;
  top: 0;
  right: 0;
}

.icon_shadow {
  z-index: 2;
  position: absolute;
  top: 24rem;
  right: 24rem;
}
.icon_shadow1 {
  z-index: 2;
  position: absolute;
  top: 28rem;
  right: 13rem;
}

.rotation {
  /* position: absolute; */
}
.goal {
  left: 1rem;
  position: absolute;
}
.rocket {
  position: absolute;
  top: 15.5rem;
  left: 23.5rem;
}
.plane {
  position: absolute;
  top: 20.5rem;
}
@media (max-width: 512px) {
  .club_text {
    font-size: 56px;
  }
  .main_left {
    font-size: 45px;
  }
}
